<div class="wrapper container-fluid">
<div class="row" style="padding-bottom: 50px">
    <div class="col-xs-2">
        <span class="label label-default" style="width: 100%; display: block">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>My projects
        </span>
        <div class="btn-group-vertical" style="width: 100%">
            <button ng-repeat="project in myprojects" type="button" class="btn" style="width: 100%" 
                ng-click="select(project)" ng-class="selectedProjectGroup.id==project.id ? 'btn-info' : 'btn-default'">{{ project.name }}</button>    
        </div>
    </div>
    <div class="col-xs-8" style="padding-left: 1em; padding-right: 1em">
        <div ng-if="selectedProjectGroup">
            <span class="label label-default" style="width: 100%; display: block">Project builds</span>
            <br />
            <div class="row">
                <div ng-repeat="status in projectStatus" class="col-xs-6 vmcard">
                    <buildhistory status="status" selected-project-group="selectedProjectGroup" pause-refresh="pauseRefresh">                   
                </div>
            </div>
            <br />
            <hr />
            <span class="label label-default" style="width: 100%; display: block">Configure project</span>
            <form ng-submit="updateProject()" role="form" name="formUpdate">
                <div class="form-group">
                    <label for="addnew-repourl">Repository URL:</label>
                    <input type="text" style="width: 400px" ng-model="selectedProjectGroup.repository" 
                        class="form-control" id="addnew-repourl" name="url" ng-required="true"/>
                    <validator-messages form="formUpdate.url"></validator-messages>
                    <div ng-repeat="project in selectedProjectGroup.projects">
                        <hr />
                        <ppcard project="project"></ppcard>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        <span id="submit-addnew" class="glyphicon"></span> Save    
                    </button>
                </div>
            </form>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="col-xs-2">
        <div ng-if="selectedProjectGroup">
            <span class="label label-default" style="width: 100%; display: block">Actions</span>
            <div class="btn-group-vertical" style="width: 100%">
                <button type="button" class="btn btn-default" style="width: 100%" ng-click="deleteProject()">
                    <span id="delete-project" class="glyphicon"></span> Delete project
                </button>
                <button type="button" class="btn btn-default" style="width: 100%" ng-click="buildNow()">Build now</button>  
            </div>
        </div>
    </div>
</div>
</div>