<div>
    <span class="label label-default {{status.project.vmSetting.platform.name}}" style="width: 100%; display: block">
        {{status.project.vmSetting.platform.name}} {{status.project.vmSetting.platform.version}} ({{status.project.vmSetting.platform.arch}})
        <img ng-src="/images/{{status.project.vmSetting.platform.name}}.png" class="vmcard-icon"/>
    </span>
    <br />
    <div>
        <img ng-src="/images/jenkins/{{ status.healthReport[0].iconUrl }}" style="height: 32px, width: 32px"/>
        <span style="font-size: 10px">{{ status.healthReport[0].description }}</span>
    </div>
    <br />
    <span class="label label-default" style="width: 100%; display: block">Build history</span>
    <div ng-repeat="build in status.builds">
        <button type="button" class="btn" style="width: 100%; margin: 2px" 
            ng-click="openBuild(build, 'true')" ng-class="selectedBuildJobs.get(build.number) ? 'btn-info' : 'btn-default'">
            <buildstatus result="buildJobs.get(build.number).result"></buildstatus>
            #{{ build.number }}
            <span style="font-style: italic">{{ buildJobs.get(build.number).timestamp | date:'dd-MM-yyyy HH:mm:ss' }}</span>
        </button>
        <div ng-show="selectedBuildJobs.get(build.number)" style="background-color: #E5E4E2">
            <table class="tabletop tableborder" style="width: 100%">
                <tr>
                    <td class="tdleft">Result:</td>
                    <td>
                        <buildstatus result="buildJobs.get(build.number).result"></buildstatus>
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">Date and time:</td>
                    <td>
                        <span style="font-style: italic">
                            {{ buildJobs.get(build.number).timestamp | date:'dd-MM-yyyy HH:mm:ss' }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="tdleft" >Trigger:</td>
                    <td>
                        <div ng-repeat="action in buildJobs.get(build.number).actions">
                            <div ng-if="action.causes">
                                {{ action.causes[0].shortDescription }}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">Branch:</td>
                    <td>
                        <div ng-repeat="action in buildJobs.get(build.number).actions">
                            <div ng-if="action.lastBuiltRevision">
                                {{ action.lastBuiltRevision.branch[0].name }}
                                <br />
                                <span style="font-size: 8px">({{ action.lastBuiltRevision.branch[0].SHA1 }})</span>
                            </div>
                        </div>                                     
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" ng-click="viewConsole(build)">View Log</button>
            <div ng-show="viewLog.get(build.number)">
                 <div class="form-group">
                    <textarea class="form-control" rows="10" id="comment">{{ buildConsole.get(build.number) }}</textarea>
                </div>                
            </div>
            <br />
            <br />
            <br />                     
        </div>
    </div>
</div>