<div class="panel panel-default">
    <div class="panel-heading text-center {{status.project.vmSetting.platform.name}}">
        <h3 class="panel-title" style="display: inline-block">
            {{status.project.vmSetting.platform.name}} {{status.project.vmSetting.platform.version}} ({{status.project.vmSetting.platform.arch}})
        </h3>
        <img ng-src="/images/{{status.project.vmSetting.platform.name | lowercase}}.png" class="vmcard-icon"/>
    </div>
    <div class="panel-body">
        <div>
            <img ng-src="/images/jenkins/{{ status.healthReport[0].iconUrl }}" style="height: 32px, width: 32px"/>
            <span>{{ status.healthReport[0].description }}</span>
        </div>
        <br />
        <div class="panel panel-default" ng-repeat="build in status.builds">
            <div class="panel-heading" ng-click="openBuild(build.number, 'true')">
                <a href="#">
                    <h3 class="panel-title">
                        <buildstatus build="buildJobs.get(build.number)"></buildstatus>
                        <span style="float. left">Build #{{ build.number }}<span style="float:right; font-weight: 300">{{ buildJobs.get(build.number).timestamp | date:'dd-MM-yyyy HH:mm:ss' }}</span> 
                    </h3>
                </a>
            </div>
            <div ng-show="selectedBuildJobs.get(build.number)">
                <div class="panel-body">
                    <table class="table" style="width: 100%">
                        <!--<tr>
                            <th>Result</th>
                            <td>
                                <buildstatus result="buildJobs.get(build.number).result"></buildstatus>
                            </td>
                        </tr>-->
                        <tr>
                            <th>Date and time</th>
                            <td>
                                {{ buildJobs.get(build.number).timestamp | date:'dd-MM-yyyy HH:mm:ss' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Trigger</th>
                            <td>
                                <div ng-repeat="action in buildJobs.get(build.number).actions">
                                    <div ng-if="action.causes">
                                        {{ action.causes[0].shortDescription }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Branch</th>
                            <td>
                                <div ng-repeat="action in buildJobs.get(build.number).actions">
                                    <div ng-if="action.lastBuiltRevision">
                                        {{ action.lastBuiltRevision.branch[0].name }}
                                        <br />
                                        <span style="font-size: 10px">({{ action.lastBuiltRevision.branch[0].SHA1 }})</span>
                                    </div>
                                </div>                                     
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-default" ng-click="viewConsole(build)">View Log</button>
                    <div ng-show="viewLog.get(build.number)">
                        <div class="form-group">
                            <textarea class="form-control" rows="10" id="{{ buildJobs.get(build.number).fullDisplayName.replace(' ', '') }}">{{ buildConsole.get(build.number) }}</textarea>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>